@model AdilBooks.Models.AuthorDto

@{
    ViewData["Title"] = "Delete Author";
}

<h1>Author Deleted</h1>

<p>The author has been successfully deleted.</p>

<div>
    <a asp-action="List">Back to List</a>
</div>
